# General API endpoint (e.g., https://api.com/v1)
API_URL=

# Better Auth endpoint (e.g., https://api.com/api/auth)
AUTH_URL=

# The Express origin ONLY (e.g., https://api.com)
# CRITICAL: Used in next.config.ts to proxy requests and fix CORS/Cookie issues on Vercel.
NEXT_PUBLIC_BASE_URL=